
.home-hero {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
 
  color: rgb(29, 28, 28);
  text-align: center;
  padding: 2rem;
}

.hero-left {
  max-width: 600px;
}

.hero-left h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.hero-sub {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  opacity: 0.9;
}

.hero-actions {
  margin-top: 2rem;
}